.outerFormContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100vh;
  align-items: center;
}

.innerFormContainer {
  margin: 100px auto; 
  display: flex;
  flex-direction: column;
  width: 25%;
  text-align: center;
}

.title {
  margin: 10px 0; 
  padding-bottom: 10px;
  border-bottom: 2px solid #ddd;
}

.form {
  display: flex;
  border: 1px solid #ddd;
  flex-direction: column;
  padding: 20px;
}

input {
  height: 0;
  margin: 10px 0;
  padding: 15px 20px;
  width: 100%;
  border: 1;
}

.submit {
  text-transform: uppercase;
  text-decoration: none;
  background: #ddd;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  width: 100%;
}

@media (min-width: 320px) and (max-width: 480px) {
  .outerFormContainer {
    height: 100%;
  }
  .innerFormContainer {
    width: 90%;
  }
}