.chat {
  background: green;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 70%;

  &__navbar {
    display: flex;
    align-items: center;
    height: 12vh;
    width: 97%;
    margin: .5em;
    border-radius: 25px;
    background: rebeccapurple;

    .avatar {
      width: 6%;
      margin-left: .5em;
      background: white;
      border: 2px solid black;
      border-radius: 50%;
    } 

    .contact__name {
      margin-left: .5em;
    }

    .navbar__option {
      width: 50%;
      display: flex;
      justify-content: space-evenly;
      height: 80%;
      margin: 0 .5em 0 auto;
      background: orangered;

      button {
        outline: none;
        border: none;
        border-radius: 15px;
      }
    }
  }

  &__messages {
    height: 88vh;
    width: 100%;
    background: aqua;

    .display__message {
      margin: auto;
      background: bisque;
      height: 90%;
      width: 95%;
    }

    .send__message {
      display: flex;
      align-items: center;
      background: black;
      width: 100%;

      .addFile {
        opacity: 0;
        position: absolute;
      }

      .addFile__label {
        margin-left: 1em;
        margin-right: .5em;
        position: relative;
        background-color: #fff;
        border-radius: 50px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        height: 26px;
        width: 26px;
      }

      .message-input {
        margin-left: auto;
        width: 80%;
        height: 37px;
        padding: 0px 10px;
        font-size: 16px;
        font-family: "Open Sans", sans-serif;
        background-color: #f3f3f3;
        border: 0;
        border-radius: 4px;
        transition: all 250ms ease-in-out;
  
        &:focus {
          outline: none;
          box-shadow: 0px 0px 12px 0.8px var(--icon-color);
        }
      }

      .btn {
        margin-right: 1em;
        border-radius: 2rem;
        border: none;
        outline: none;
        width: 6em;
        height: 3em;
        background: var(--icon-color);
      }
    }
  }
}