.options {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 60%;
  height: 85vh;
  background-color: var(--bg-primary);
  border-radius: 2rem;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .options {
    position: absolute;
    top: 0;
    padding-top: 1em;
    padding-bottom: 6rem;
    border-radius: 0;
    width: 100%;
    justify-content: start;
    height: auto;
    background-color: var(--bg-color);
  }

}