.base-container--login {
  font-size: var(--login-register-fs);
  background-color: var(--bg-color);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .form__container--login {
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: var(--bg-primary);
    border-radius: 4px;
    align-items: center;
    padding: 0.75em;

    p {
      color: var(--text-primary);
      font-size: 3em;
      margin: 0;
    }

    .image {
      margin-top: 0.75em;
      width: 50%;
      border-radius: 4px;
      background-color: #f3f3f3;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .form--login {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 80%;
    
      .error-message {
        margin-top: 0.5em;
        font-size: 1em;
        color: red;
      }
    }
  }

  .btn {
    margin-top: 1em;
    margin-bottom: .5em;
    font-size: 21px;
    padding: 7px 25px;
    border: 0;
    background-color: var(--violet-light);
    color: #fff;
    border-radius: 4px;
    transition: all 250ms ease-in-out;
    cursor: pointer;
    &:hover {
      background-color: var(--text-primary);
    }
    &:focus {
      outline: none;
    }
  }
}



@media only screen and (min-width: 768px) {
  .base-container--login {
    --login-register-fs: 12px;
  }
}

@media only screen and (max-width: 768px) {
  .base-container--login {
    width: 100vw;
    min-height: 100vh;

    .form__container--login {
      width: 90vw;
      padding: 0;

      p {
        margin-top: .5em;
      }

      .image {
        width: 70%;
      }

      .form--login {
        margin-top: 1.5em;
      }
    }
  }
}
