.base-container--register {
  position: relative;
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  .form__container--register {
    margin: 1em 0;
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: var(--bg-primary);
    border-radius: 4px;
    align-items: center;
    padding: 0.75em;

    p {
      color: var(--text-primary);
      font-size: 3em;
      margin: 0;
    }

    .image {
      margin-top: 0.75em;
      width: 30%;
      border-radius: 4px;
      background-color: #f3f3f3;

      img {
        width: 100%;
        height: 100%;
      }
    }
    .form--register {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 80%;

      .error-message {
        margin-top: 0.5em;
        font-size: 1em;
        color: red;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .base-container--register {
    width: 100vw;
    min-height: 100vh;

    .form__container--register {
      width: 90vw;
      padding: 0;

      p {
        margin-top: .5em;
      }

      .image {
        width: 40%;
      }

      .form--register {
        margin-top: 1em;
      }
    }
  }  
}

