.right-panel {
  position: absolute; 
  top: 0;
  right: 0;
  overflow: hidden;
  height: 100vh;
  width: 21vw;

  &[open] {
    box-shadow: -1px 0px 5px 0px rgba(0, 0, 0, 0.15);
    transition-delay: .3s;
  }
      
  .control-panel {
    width: 100%;
    top: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 5px 0px;
    padding: .25rem;
    border-bottom-left-radius: .5rem;
    transform: translateX(7vw);
    transition-duration: .1s;
    transition-timing-function: cubic-bezier(0,.72,.55,.99);
        
        
    &[open] {
      transition-delay: .2s;
      transform: translateX(0);
      border-radius: 0;
    }
      
    .control-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: .5rem;
      width: 2.5rem;
      height: 2.5rem;
      background: rgb(233, 236, 239);
    }
  }
      
  .lower-panel {
    height: calc(100vh - 3rem);
    width: 21vw;
    position: absolute;
    bottom: 0;
    transform: translateX(21vw);
    transition: all .3s ease-out;
    border-bottom-left-radius: .5rem;
        
  &[open] {
    transform: translateX(0);
  }
      
  }
}
