:root {
  --bg-grey: #f5f5f5;
  --grey: #9e9e9e; 
  --black: #242424;
  --violet-light: #6c63ff;
  --violet-dark: #1f1d49;
}


body {
  font-family: 'Ubuntu', sans-serif;
  background: var(--bg-grey); 
}

a {
  text-decoration: none !important;
}

header {
  z-index: 100;
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bg-grey);

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;

    .nav__brand {
      font-size: 4rem;
      font-weight: 700;
      letter-spacing: 1px;
      color: var(--black);
    }

    .nav__menu {
      font-size: 1.7rem;
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;

      li {
        margin-left: 0.7em;
      }
        
      .option--regular {
        cursor: pointer;
        color: var(--black);
      }

      .option--bold {
        cursor: pointer;
        color: var(--violet-light);
        font-weight: 700;
      }

      .option--btn {
        cursor: pointer;
        border-radius: .7em;
        padding: .5em .8em;
        background: var(--violet-light);
        color: var(--bg-grey);
        font-weight: 700;
      }
    }
  }
}

.hero {
  top: 6rem;
  position: absolute;
  height: calc(100vh - 6rem);

  &__container {
    display: flex;
    margin: 0 auto;
    width: 90%;
    height: 100%;
    align-items: center;
    justify-content: space-between;

    .text__column {
      width: 40%;

      h1 {
        font-weight: 700;
        font-size: 4rem;
        margin-bottom: .5em;
        color: #323232;
      }

      p {
        width: 95%;
        margin: 3em 0;
        font-size: 1.5rem;
        line-height: 1.3em;
      }

      .btn-container {
        button {
          cursor: pointer;
          border-radius: .7em;
          padding: .5em .8em;
          background: var(--violet-light);
          color: var(--bg-grey);
          border-radius: 1rem;
          border: none;
          font-size: 1.7rem;
          font-weight: 700;
          outline: none;
        }
      }
    }

    .graphics__column {
      width: 60%;
      max-height: 100%;
      
      .graphics__wrapper {
        height: 0;
        padding-top: 86%;
        overflow: hidden;
        position: relative;
      }

      .graphics__container{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        .hero-image {
          position: absolute;

          &.tablet {
            display: flex;
            justify-content: center;
            align-items: center;
            left: 13%;
            top: 15%;
            background: white;
            width: 27%;
            height: 22%;
            transform: skew(15deg);
            border-radius: .8rem;
            border: .3rem solid #6c63ff;

            .tablet__screen {
              width: 100%;
              
              svg {
                position: absolute;
                left: 5%;
                top: 50%;
                transform: translateY(-50%);
                max-height: 100%;
                max-width: 100%;
              }
            }
          }

          &.phone {
            display: flex;
            align-items: center;
            right: 2%;
            top: 50%;
            transform: skew(12deg) translateY(-50%);
            margin-left: auto;
            background: white;
            width: 13.5%;
            height: 24%;
            border-radius: 5%;
            border: .3rem solid #6c63ff;

            .phone__screen {
              width: 100%;

              svg {
                position: absolute;
                left: 5%;
                top: 50%;
                transform: translateY(-50%);
                max-height: 100%;
                max-width: 100%;
              }
            }
          }

          &.laptop {
            left: 16%;
            top: 55%;
            width: 68%;
            height: 31%;
            
            .top-element {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 58%;
              height: 90%;
              transform: skew(20deg);
              background: white;
              border-top-left-radius: 1rem;
              border-top-right-radius: 1rem;
              border: .3rem solid var(--violet-light);
              

              .laptop__screen {
                width: 100%;
                
                svg {
                  position: absolute;
                  left: 5%;
                  top: 50%;
                  transform: translateY(-50%);
                  max-height: 100%;
                  max-width: 100%;
                }
              }
            }

            .bottom-element {
              margin-left: 6.42%;
              width: 90%;
              height: 10%;
              background: var(--violet-light);
              border-bottom-left-radius: 5px;
              border-bottom-right-radius: 5px;

              &::after {
                content: '';
                display: block;
                border-bottom-left-radius: 5px;
                background: var(--violet-dark);
                width: 60%;
                height: 100%;
              }
            }
          }
        }
      }
    }
  }
}






