body {
  font-family: 'Ubuntu', sans-serif;
  background: var(--bg-grey); 
}

button {
  outline: none;
  border: none;
  background: none;
}
a {
  text-decoration: none !important;
}

header {
  z-index: 100;
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  height: calc(7 * var(--landing-fs));
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bg-grey);

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;

    .nav__brand {
      font-size: calc(4 * var(--landing-fs));
      font-weight: 700;
      letter-spacing: 1px;
      color: var(--black);
    }

    .nav__menu {
      font-size:  calc(1.7 * var(--landing-fs));
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;

      li {
        margin-left: 0.7em;
      }
        
      .option--regular {
        cursor: pointer;
        color: var(--black);
      }

      .option--bold {
        cursor: pointer;
        color: var(--violet-light);
        font-weight: 700;
      }

      .option--btn {
        cursor: pointer;
        border-radius: .7em;
        padding: .5em .8em;
        background: var(--violet-light);
        color: var(--bg-grey);
        font-weight: 700;
      }
    }
  }
}

.hero {
  top: calc(7 * var(--landing-fs));
  height: calc(100vh - calc(7 * var(--landing-fs)));
  font-size: var(--landing-fs);

  &__container {
    display: flex;
    margin: 0 auto;
    width: 90%;
    height: 100%;
    align-items: center;
    justify-content: space-between;

    .text__column {
      width: 40%;

      h1 {
        font-weight: 700;
        font-size: calc(4 * var(--landing-fs));
        margin-bottom: .5em;
        color: #323232;
      }

      p {
        width: 95%;
        margin: 3em 0;
        font-size: calc(1.5 * var(--landing-fs));
        line-height: 1.3em;
      }

      .btn-container {
        button {
          cursor: pointer;
          border-radius: .7em;
          padding: .5em .8em;
          background: var(--violet-light);
          color: var(--bg-grey);
          border-radius: var(--landing-fs);
          border: none;
          font-size: calc(1.7 * var(--landing-fs));
          font-weight: 700;
          outline: none;
        }
      }
    }

    .graphics__column {
      width: 60%;
      height: 100%;
      
      .graphics__wrapper {
        height: 0;
        padding-top: 86%;
        overflow: hidden;
        position: relative;
      }

      .graphics__container{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        .hero-image {
          position: absolute;

          &.tablet {
            display: flex;
            justify-content: center;
            align-items: center;
            left: 13%;
            top: 15%;
            background: white;
            width: 27%;
            height: 22%;
            transform: skew(15deg);
            border-radius: calc(0.8 * var(--landing-fs));
            border: calc(0.3 * var(--landing-fs)) solid #6c63ff;

            .tablet__screen {
              width: 100%;
              
              svg {
                position: absolute;
                left: 5%;
                top: 50%;
                transform: translateY(-50%);
                max-height: 100%;
                max-width: 100%;
              }
            }
          }

          &.phone {
            display: flex;
            align-items: center;
            right: 2%;
            top: 50%;
            transform: skew(12deg) translateY(-50%);
            margin-left: auto;
            background: white;
            width: 13.5%;
            height: 24%;
            border-radius: 5%;
            border: calc(0.3 * var(--landing-fs)) solid #6c63ff;

            .phone__screen {
              width: 100%;

              svg {
                position: absolute;
                left: 5%;
                top: 50%;
                transform: translateY(-50%);
                max-height: 100%;
                max-width: 100%;
              }
            }
          }

          &.laptop {
            left: 16%;
            top: 55%;
            width: 68%;
            height: 31%;
            
            .top-element {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 58%;
              height: 90%;
              transform: skew(20deg);
              background: white;
              border-top-left-radius: var(--landing-fs);
              border-top-right-radius: var(--landing-fs);
              border: calc(0.3 * var(--landing-fs)) solid var(--violet-light);
              

              .laptop__screen {
                width: 100%;
                
                svg {
                  position: absolute;
                  left: 5%;
                  top: 50%;
                  transform: translateY(-50%);
                  max-height: 100%;
                  max-width: 100%;
                }
              }
            }

            .bottom-element {
              margin-left: 6.42%;
              width: 90%;
              height: 10%;
              background: var(--violet-light);
              border-bottom-left-radius: 5px;
              border-bottom-right-radius: 5px;

              &::after {
                content: '';
                display: block;
                border-bottom-left-radius: 5px;
                background: var(--violet-dark);
                width: 60%;
                height: 100%;
              }
            }
          }
        }
      }
    }
  }

}

.wave-container {
  .curved-svg--up {
    path {
      fill: var(--icon-color);
    }
    display: block;
  }
}

.newsletter {
  font-size: var(--landing-fs);
  background: var(--icon-color);
  padding-top: 1px;
  padding-bottom: 1px;
  margin: 0;

  &-wrapper {
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .newsletter__heading {
      color: var(--bg-grey);
      font-size: 5em;
      margin-bottom: 1em;
      text-align: center;
    }

    p {
      color: var(--bg-grey);
      margin: 0 0 1em 0;
      font-size: 2em;

      span {
        color: var(--black);
        font-weight: 700;
      }
    }

    .newsletter__form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .form__input {
        display: block;
        width: 100%;
        margin: 1em 0;
        height: 2.5em;
        padding: 0px 10px;
        font-size: 2em;
        font-family: "Open Sans", sans-serif;
        background-color: #f3f3f3;
        border: 0;
        border-radius: .3em;
        transition: all 250ms ease-in-out;
  
        &:focus {
          outline: none;
          box-shadow: 0px 0px 12px 0.8px var(--icon-color);
        }
      }


      .form-group-permision {
        width: 60%;
        
        .permission-label {
          text-align: right;
          color: var(--bg-grey);
          margin: 0 0 1em 0;
          font-size: 1.2em;
  
          .wideboard__inline {
            color: var(--black);
            font-weight: 400;
          }
        }
      }



  
      .form__btn {
        margin-top: 2em; 
        display: block;
        font-size: 2.5em;
        cursor: pointer;
        border-radius: .7em;
        padding: .6em 1.2em;
        border: none;
        background:  var(--bg-grey);
        color: var(--violet-light);
        font-weight: 700;
      }
    }
  }
}

footer{
  font-size: var(--landing-fs);

  .curved-svg--down {
    path {
      fill: var(--icon-color);
    }
    display: block;
  }

  position: relative;
  background: #f1f1f1;
  padding-bottom: 6em;
  display: block;
  width: 100%;

  .links {
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    h3 {
      font-size: 2em;
      font-weight: 700;
      color: var(--black);
      margin: 0 0 .3em 0;
    }

    &__group {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: center;
      margin-right: 5em;
      
      a {
        font-size: 2em;
        display: block;
        margin-bottom: .2em;
        color: var(--icon-color);
      }
    }

    &__media {
      .icons__container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
          position: relative;
          width: 2.5em;
          height: 2.5em;
          margin-right: 1em;
          border-radius: 50%;
          background: var(#f5f5f5);
          transition: all .3s;

          &:hover {
            background: var(--icon-color);
            svg {
              color: #f5f5f5;
            }
          }

          svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-width: 100%;
            max-height: 100%;
            color: var(--icon-color);
          }
        }
      }
    }
  }

  .copyrights {
    position: absolute;
    font-size: .8rem;
    color: var(--grey);
    bottom: 0;
    width: 100%;
    height: 1.2em;
    background-color: var(--violet-dark);

    &__text {
      text-align: center;
      margin: auto;
    }
  }
}

/* up to 768px*/
@media only screen and (max-width: 768px) {

  .hero {
    position: relative;
    top: 8vh;
  }

  .hamburger {
    padding: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    width: 3em;
    height: 2.5em;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all .5s ease-in-out;

    &__inner {
      width: 100%;
      height: .3em;
      background: black;
      border-radius: 5px;
      transition: all .5s ease-in-out;

      &::before,
      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: .3em;
        background: black;
        border-radius: 5px;
        transition: all .5s ease-in-out;
      }

      &::before {
        transform: translateX(-20px) translateY(-11px);
      }

      &::after {
        transform: translateX(-20px) translateY(11px);
      }
    }
    
    /* ANIMATION */
    &.open .hamburger__inner {
      transform: translateX(50px);
      background: transparent;
      box-shadow: none;

      &::before {
        transform: translate(-70px, 0px) rotate(-45deg);
      }

      &::after {
        transform: translate(-70px, 0px) rotate(45deg);
      }
    }
  }

  #nav__menu  {
    display: none;
  }

  header {
    height: 8vh;
    border-bottom-left-radius: calc(2 * var(--landing-fs));
    border-bottom-right-radius: calc(2 * var(--landing-fs));
  }

  #menu-overlay {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    height: 100vh;

    z-index: 50;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ececec;
    transform: translateY(100%);
    transform-origin: bottom;
    transition: .5s transform;

    &.open {
      transform: translateY(0); 
    }

    ul {
      font-size: calc(4.5 * var(--landing-fs));
      list-style: none;
      padding: 0;

      li {
        position: relative;
        list-style: none;
        text-align: center;
        display: block;
        padding: 1em;
      }
        
      .option--regular {
        cursor: pointer;
        color: var(--black);
      }

      .option--bold {
        cursor: pointer;
        color: var(--violet-light);
        font-weight: 700;
      }

      .option--btn {
        cursor: pointer;
        border-radius: .7em;
        padding: .5em .8em;
        background: var(--violet-light);
        color: var(--bg-grey);
        font-weight: 700;
      }
    }
  }

  .hero__container {
    flex-wrap: wrap;
    align-items: start;

    .text__column {
      width: 100%;
      

      h1 {
        margin: 1em 0;
        div {
          text-align: center;
        }
      }

      p {
        margin: 0 auto;
        width: 80%;
        text-align: center;
      }

      .btn-container {
        display: flex;
        padding: 2em;
        justify-content: center;
      }

    
    }

    .graphics__column {
      width: 100%;
      &__wrapper {
        max-width: 100%;
      }
    }


  }
}

@media only screen and (max-width: 400px) { 
  :root {
    --landing-fs: 7px
  }
  .hero {
    margin-bottom: 1em;
  }

  .newsletter {
    &-wrapper {

      .newsletter__heading{
        margin-top: 1.5em;
        font-size: 3em;
      }

      p {
        font-size: 1.5em;
      }

      .newsletter__form {
        .form-group-permision {
          width: 90%;
        }
      }
    }
  }

  footer {
    .links {
      &__group {
        align-items: center;
        width: 100%;
        margin: 2em 0 0 0;

      }
      &__media {
        width: 100%;
        margin-top: 2em;
        
        h3 {
          text-align: center;
        }
      }
    }
  }

}

@media only screen and (min-width: 400px) { 
  :root {
    --landing-fs: 7px;
  }
}

@media only screen and (min-width: 600px) { 
  :root {
    --landing-fs: 9px;
  }

  .newsletter-wrapper {
    width: 90%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 769px) {
  .hero {
    height: 50vh;
  }

  .hamburger {
    display: none;
  }
  #menu-overlay {
    display: none;
  }
}

/* Extra small devices (phones, 600px and down) */





/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 769px) {
  :root {
    --landing-fs:  7px;
  }

  .hamburger {
    display: none;
  }
  #menu-overlay {
    display: none;
  }

  .newsletter-wrapper {
    width: 70%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

  .hero {
    height: calc(100vh - calc(6 * var(--landing-fs)));
  }
  :root {
    --landing-fs: 9px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1400px) {
  :root {
    --landing-fs: 12px;
  }
}





