:root {
  font-size: 62.5%;
  font-family: 'Montserrat', 'Open Sans';
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --icon-color: #6c63ff;
  --bg-color: #b6b6b6;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}

body {
  box-sizing: border-box;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Ubuntu', sans-serif;
  background: var(--bg-grey); 
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}